<div class="map-container">
  <div id="map" class="w-100 h-100">
  </div>
</div>

<script>

  function setStyle(map){
    var provider = map.getBaseLayer().getProvider();
    // Подключение карты через YAML конфигурацию из репозитория
    var style = new H.map.Style(
      'https://someuseless.github.io/yaml-map-config/miami/normal.day.yaml'
    );
    // Устанвливаю стиль карты
    provider.setStyle(style);
  }

  function switchMapLanguage(map, platform){

    let defaultLayers = platform.createDefaultLayers({
      lg: 'en'
    });

    map.setBaseLayer(defaultLayers.vector.normal.map);
    var ui = H.ui.UI.createDefault(map, defaultLayers, 'ru-RU');

    ui.removeControl('mapsettings');
    ui.removeControl('zoom');
}

  // Инцилизация карты по ключу
  var platform = new H.service.Platform({
    'apikey': 'Ku_fQgPqDJpasl0j0B-VmNvlb88LJrIPM2ljWbSMsts',
  });

  // Получил тип карты по умолчанию из объекта 
  var defaultLayers = platform.createDefaultLayers();

  // Создаю объект карты
  var map = new H.Map(
    document.getElementById('map'),
    defaultLayers.vector.normal.map,
    {
      zoom: 13.5,
      center: { lng: 24.108, lat: 56.943},
      pixelRatio: window.devicePixelRatio || 1
    });

  // Объявляю прослушивание изменения размеров
  window.addEventListener('resize', () => map.getViewPort().resize());
  
  switchMapLanguage(map, platform);
  setStyle(map);
  
</script>
