<div class="body d-flex flex-row flex-md-column">
  <nav class="navbar">
    <div class="navbar-body d-flex flex-column m-auto">
      <a class="navbar-brand d-none d-md-block" href="index.html">
        <img src="img/logotype/logotype.svg" alt="Logotype" />
      </a>
      <ul class="navbar-nav d-flex flex-row flex-md-column">
        <li class="nav-item my-md-4">
          <a class="nav-link active" href="index.html">
            <img src="img/sidebar/main.svg" alt="Main page" />
          </a>
        </li>
        <li class="nav-item mb-md-4">
          <a class="nav-link" href="map.html">
            <img src="img/sidebar/map.svg" alt="Map page" />
          </a>
        </li>
        <li class="nav-item mb-md-4">
          <a class="nav-link" href="filter.html">
            <img src="img/sidebar/filter.svg" alt="Filter page" />
          </a>
        </li>
        <li class="nav-item nav-item-gray">
          <a class="nav-link" href="settings.html">
            <img src="img/sidebar/settings.svg" alt="Settings page" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="nav-user d-none d-md-block mb-4">
    <div class="d-flex flex-column justify-content-center">
      <a href="#" class="nav-user-img mx-auto mb-4">
        <img src="img/sidebar/user.png" alt="User photo" />
      </a>
      <a href="#" class="nav-user-logout mx-auto">
        <img src="img/sidebar/logout.svg" alt="Logout" />
      </a>
    </div>
  </div>
</div>