<div class="row">
  <div class="col-12">
    <div class="box p-4">
      <h4 class="mb-3">
        КВИК
      </h4>
      <div class="text mb-3">
        Равным образом модель организационной деятельности представляет эксперимент проверки направлений развития. 
      </div>
      <div class="data mb-3">
        <div class="item d-flex justify-content-between">
          <div class="title">
            Версия проекта:
          </div>
          <div class="value">
            1.001
          </div>
        </div>
        <div class="item d-flex justify-content-between">
          <div class="title">
            Количество пользователей: 
          </div>
          <div class="value">
            475
          </div>
        </div>
        <div class="item d-flex justify-content-between">
          <div class="title">
            Количество объявлений:
          </div>
          <div class="value">
            9 475
          </div>
        </div>
      </div>
      //= ../contacts/social
    </div>
  </div>
</div>