<div class="nano">
  <div class="nano-content">
    <div class="row">
      <div class="mb-3">
        <h2 class="mb-4">
          Настройки
        </h2>
        <p>
          С другой стороны улучшение и развитие структуры позволяет создание форм. 
        </p>
      </div>
      <div class="col-12">
        <h4 class="mb-4">
          Основные
        </h4>
        <nav class="nav d-flex flex-column mb-4">
          <li class="nav-item">
            <a class="nav-link" href="#account">
              <img src="img/icons/user.svg" alt="User data icon">
              Данные аккаунта
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#password">
              <img src="img/icons/lock.svg" alt="Safety icon">
              Безопасность
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#notification">
              <img src="img/icons/notification.svg" alt="Notification icon">
              Уведомления
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#help">
              <img src="img/icons/help.svg" alt="Help icon">
              Помощь
            </a>
          </li>
        </nav>
        <h4 class="mb-4">
          Поддержать проект
        </h4>
        <nav class="nav d-flex flex-column mb-4">
          <li class="nav-item">
            <a class="nav-link" href="#typeAccount">
              <img src="img/icons/account.svg" alt="Account icon">
              Изменить тип аккаунта
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#donate">
              <img src="img/icons/developer.svg" alt="Developer icon">
              Купить кофе разрабочтику
            </a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</div>
<script>
  $(".nano").nanoScroller({ stop: true, preventPageScrolling: true });

  $(document).ready(function(){
    $("#nav").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top}, 1500);
    });
});
</script>