<div class="row gy-4">
  <div id="account" class="account col-12 mb-3">
    <h2 class="title mb-4">
      Данные аккаунта
    </h2>
    <div class="account-image d-flex flex-column flex-lg-row mb-4">
      <img src="img/sidebar/user.png" class="mb-4 mb-lg-0" alt="User image">
      <div class="d-flex flex-column">
        <div class="actions">
          <button class="btn btn-green mr-2">
            Загрузить фото
          </button>
          <button class="btn btn-outline">
            Удалить
          </button>
        </div>
        <div class="description">
          Вы можете загрузить изображение JPG и PNG формата.
          <br class="d-none d-lg-block">
          Максимальный размер - 2 мб.
        </div>
      </div>
    </div>
    <div class="account-data row row-cols-1 row-cols-md-2 gy-3">
      <div class="col">
        //= ../filters/input-text
      </div>
      <div class="col">
        //= ../filters/input-text
      </div>
      <div class="col">
        //= ../filters/input-text
      </div>
    </div>
  </div>
  <div id="password" class="password col-12 mb-3">
    <h2 class="title mb-4">
      Безопасность
    </h2>
    <div class="old-password row row-cols-1 row-cols-md-2 gy-3 mb-3">
      <div class="col">
        //= ../filters/input-password
      </div>
    </div>
    <div class="new-password row row-cols-1 row-cols-md-2 gy-3 mb-4">
      <div class="col">
        //= ../filters/input-password
      </div>
      <div class="col">
        //= ../filters/input-password
      </div>
    </div>
    <button class="btn btn-green">
      Обновить пароль
    </button>
  </div>
  <div id="notification" class="notification col-12 mb-3">
    <h2 class="title mb-4">
      Уведомления
    </h2>
    <div class="notification-status">
      <div class="row row-cols-1 gy-4">
        <div class="col">
          //= ../filters/switch
        </div>
        <div class="col">
          //= ../filters/switch
        </div>
        <div class="col">
          //= ../filters/switch
        </div>
      </div>
    </div>
  </div>
  <div id="help" class="help col-12 mb-3">
    <h2 class="title mb-4">
      Помощь
    </h2>
    <p class="mb-4">
      Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. 
    </p>
    <div class="buttons">
      <button class="btn btn-green mr-2">
        Написать в поддержку
      </button>
      <button class="btn btn-green-outline">
        Читать FAQ
      </button>
    </div>
  </div>
  <div id="typeAccount" class="type-account col-12 mb-3">
    <h2 class="title mb-4">
      Изменить тип аккаунта
    </h2>
    <p class="mb-4">
      Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. 
    </p>
    <div class="cards row row-cols-1 row-cols-md-2 gy-3">
      <div class="col">
        <button class="card h-100">
          <img src="img/account/free-type.svg" alt="Type Icon">
          <div class="card-body">
            <h5 class="card-title">Бесплатный</h5>
            <p class="card-text">С другой стороны рамки и место обучения сохранены.</p>
          </div>
        </button>
      </div>
      <div class="col">
        <button class="card h-100">
          <img src="img/account/premium-type.svg" alt="Type Icon">
          <div class="card-body">
            <h5 class="card-title">Премиум</h5>
            <p class="card-text">С другой стороны рамки и обучения кадров сохранены.</p>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div id="donate" class="donate col-12 mb-4">
    <h2 class="title mb-4">
      Купить кофе разрабочтику
    </h2>
    <p class="mb-4">
      Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. 
    </p>
    <div class="cards row row-cols-2 row-cols-md-4 gy-3">
      <div class="col">
        <button class="card w-100 h-100">
          <img src="img/donate/s.svg" alt="Donate Icon">
          <div class="body">
            <div class="title">S</div>
            <div class="value">50 ₽</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button class="card w-100 h-100">
          <img src="img/donate/m.svg" alt="Donate Icon">
          <div class="body">
            <div class="title">M</div>
            <div class="value">100 ₽</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button class="card w-100 h-100">
          <img src="img/donate/l.svg" alt="Donate Icon">
          <div class="body">
            <div class="title">L</div>
            <div class="value">150 ₽</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button class="card w-100 h-100">
          <img src="img/donate/xl.svg" alt="Donate Icon">
          <div class="body">
            <div class="title">XL</div>
            <div class="value">200 ₽</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>