<div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-2 row-cols-xxl-3 g-3"
  >
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="title">
          <a class="stretched-link" href="#">
            Длительная
          </a>
        </h5>
        <p class="text">
          Всего объявлений
        </p>
        <div class="value">
          1 332
        </div>
        <img
            src="img/icons/card-arrow.svg"
            class="arrow position-absolute"
            alt="Arrow"
          />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="title">
          <a class="stretched-link" href="#">
            Посуточная
          </a>
        </h5>
        <p class="text">
          Всего объявлений
        </p>
        <div class="value">
          487
        </div>
        <img 
            src="img/icons/card-arrow.svg"
            class="arrow position-absolute"
            alt="Arrow"
          />
      </div>
    </div>
  </div>
  <div class="col d-block d-sm-none d-md-block d-xl-none d-xxl-block">
    <div class="card card-green h-100">
      <div class="card-body">
        <h5 class="title">
          <a class="stretched-link" href="#">
            Умный фильтр
          </a>
        </h5>
        <p class="text">
          Мы решили уже многие проблемы за Вас
        </p>
      </div>
    </div>
  </div>
</div>