<div class="d-flex justify-content-between">
  <div class="d-flex flex-row">
    <a href="#" class="btn btn-wrapper btn-wrapper-square btn-heart mr-3">
      <i class="far fa-lg fa-heart orange"></i>
    </a>
    <button
      class="btn btn-wrapper btn-black"
      data-toggle="modal"
      data-target="#locationModal"
    >
      <img src="img/icons/map-marker.svg" class="mr-2" alt="Map Marker" />
      Ярославль
    </button>
  </div>
  <div class="d-flex flex-row">
    <a href="#" class="btn btn-green d-flex align-items-center">
      <img src="img/icons/add.svg" class="mr-0 mr-md-2" alt="Add" />
      <span class="d-none d-md-flex">Создать объявление</span>
    </a>
  </div>
</div>