<div class="row">
  <div class="col-12">
    <div class="promo-body">
      <div class="title">Самое время найти квартиру</div>
      <div class="description my-4">
        Разнообразный и богатый опыт рамки и место обучения кадров представляет эксперимент.
      </div>
      <a href="#" class="btn btn-green">Найти варианты</a>
    </div>
  </div>
</div>
