<div class="card h-100">
  <div class="position-relative">   
    <div class="swiper-container swiper-offer">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/objects/object-1.png" class="card-img-top" alt="Object img" />
        </div>
        <div class="swiper-slide">
          <img src="img/objects/object-2.png" class="card-img-top" alt="Object img" />
        </div>
        <div class="swiper-slide">
          <img src="img/objects/object-3.png" class="card-img-top swiper-lazy" alt="Object img" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="d-none good-status position-absolute d-flex align-items-center">
      <img src="img/icons/star.svg" class="mr-1" alt="Good Status" />
      <span>Советуем</span>
    </div>
  </div>
  <div class="card-body d-flex flex-column justify-content-between p-3">
    <div>
      <div class="title mb-3">
        <a href="offer.html">
          2-комн. кв., 65 м², 2/4 этаж
        </a>
      </div>
      <p class="text my-3">
        Стоимость действует на первые пять месяцев аренды, с шестого месяца цена 37 500 рублей в
        месяц.
      </p>
      <div class="value my-3">35 000 ₽/мес</div>
    </div>
    <div class="d-flex">
      <a href="offer.html" class="btn btn-green mr-2">Открыть</a>
      <button class="btn btn-wrapper btn-wrapper-square btn-heart">
        <i class="far fa-lg fa-heart green"></i>
      </button>
    </div>
  </div>
</div>