<div class="title">
  Удобства
</div>
<div class="d-flex flex-wrap align-items-center">
  <div class="item">
    <img src="img/offer/fridge.svg" alt="Comfort icon">
    Холодильник
  </div>
  <div class="item">
    <img src="img/offer/furniture.svg" alt="Comfort icon">
    Мебель
  </div>
  <div class="item">
    <img src="img/offer/conditioning.svg" alt="Comfort icon">
    Кондиционер
  </div>
  <div class="item">
    <img src="img/offer/kitchen.svg" alt="Comfort icon">
    Кухня
  </div>
  <div class="item">
    <img src="img/offer/dishwasher.svg" alt="Comfort icon">
    Посудомоечная машина
  </div>
  <div class="item">
    <img src="img/offer/washer.svg" alt="Comfort icon">
    Стиральная машина
  </div>
  <div class="item">
    <img src="img/offer/wifi.svg" alt="Comfort icon">
    Интернет
  </div>
  <div class="item">
    <img src="img/offer/tv.svg" alt="Comfort icon">
    Телевизор
  </div>
</div>