<div class="row">
  <div class="col-12">
    <div class="description">
      <div class="title">
        Описание
      </div>
      <p>
        Сдаётся просторная трехкомнатная квартира в современном элитном доме с подземной парковкой на один автомобиль. Собственники делали ремонт для себя. Сделан дорогой и качественный ремонт: на полу ламинат с подогревом, натяжной потолок. Из каждой спальни выход на лоджию. 
      </p>
    </div>
  </div>
  <div class="col-12">
    <div class="offer-values">
      //= offer-values
    </div>
  </div>
  <div class="col-12">
    <div class="comfort-values">
      //= comfort-values
    </div>
  </div>
  <div class="col-12">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="offer-data col">
        //= offer-data
      </div>
      <div class="house-data col">
        //= house-data
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="region col">
        <div class="title">
          Рейтинг района
        </div>
        //= region-rating
        <p>
          На основе 306 оценок местных жителей района
        </p>
      </div>
      <div class="feedbacks col">
        <div class="title">
          Отзывы жителей о районе
        </div>
        <div class="d-flex flex-column">
          <div class="positive d-flex align-items-center mr-4">
            <img src="img/offer/positive.svg" alt="Positive feedback">
            Положительные (159)
          </div>
          <div class="negative d-flex align-items-center">
            <img src="img/offer/negative.svg" alt="Negative feedback">
            Отрицательные (99)
          </div>
        </div>
        <p>
          Отзывы могут быть неверными или накрученными, все данные основаны на общедоступной информации.
        </p>
      </div>
    </div>
  </div>
</div>