<div class="contact-wrapper mb-4">
  <div class="row align-items-stretch">
    <div class="author col-12">
      <img src="img/offer/author.png" alt="Author image">
      <div class="d-flex flex-column">
        <div class="name my-2">
          Станислав Липунцов
        </div>
        <div class="description my-3">
          Ещё 12 объектов
        </div>
        <div class="number mb-3">
          +7 934 555-75-22
        </div>
      </div>
    </div>
    <div class="actions col-12">
      <div class="actions-wrapper">
        <div class="d-flex mb-lg-3">
          <button class="btn btn-green mr-3">
            Открыть оригинал
          </button>
          <button class="btn btn-wrapper btn-wrapper-square btn-green-outline">
            <i class="far fa-lg fa-heart"></i>
          </button>
        </div>
        <button class="btn btn-report">
          <img src="img/offer/report.svg" alt="Report icon">
          Пожаловаться
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <div class="attention">
      <img src="img/offer/attention.svg" alt="Attention icon">
      <div class="text">
        Не осуществляйте оплату без договора и документов
      </div>
    </div>
  </div>
</div>