<div class="title">
  Информация о доме
</div>
<div class="item">
  <div class="parameter">
    Мусоропровод:
  </div>
  <div class="value">
    Есть
  </div>
</div>
<div class="item">
  <div class="parameter">
    Газ. плита:
  </div>
  <div class="value">
    Нет
  </div>
</div>
<div class="item">
  <div class="parameter">
    Перекрытия:
  </div>
  <div class="value">
    Железобетонные
  </div>
</div>
<div class="item">
  <div class="parameter">
    Стены:
  </div>
  <div class="value">
    Панельные
  </div>
</div>