<div class="row">
  <div class="slider col-12">
    <div class="swiper-container swiper-offer">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/objects/object-1.png" class="card-img-top" alt="Object img" />
        </div>
        <div class="swiper-slide">
          <img src="img/objects/object-2.png" class="card-img-top" alt="Object img" />
        </div>
        <div class="swiper-slide">
          <img src="img/objects/object-3.png" class="card-img-top swiper-lazy" alt="Object img" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="info col-12">
    <h1 class="title">
      2-комн. кв., 65 м<sup>2</sup>, 2/4 этаж
    </h1> 
    <div class="address">
      Ярославль, р-н Красноперекопский, мкр. Толчково, ул. Наумова, 18к2
    </div>
  </div>
  <div class="cash-values col-12">
    <div class="price mb-4 mb-sm-0 mr-sm-5">
      <div class="value">
        70 400 ₽
      </div>
      <div class="description">
        В месяц
      </div>
    </div>
    <div class="deposit mb-4 mb-sm-0 mr-sm-5">
      <div class="value">
        50 000 ₽
      </div>
      <div class="description">
        Залог
      </div>
    </div>
    <div class="commission mr-sm-5">
      <div class="value">
        32 500 ₽
      </div>
      <div class="description">
        Комиссия
      </div>
    </div>
  </div>
</div>