<div class="title">
  Информация о предложении
</div>
<div class="item">
  <div class="parameter">
    Дата публикации:
  </div>
  <div class="value">
    Есть
  </div>
</div>
<div class="item">
  <div class="parameter">
    Цена за м<sub>2</sub>:
  </div>
  <div class="value">
    842 ₽
  </div>
</div>
<div class="item">
  <div class="parameter">
    Ремонт:
  </div>
  <div class="value">
    Дизайнерский
  </div>
</div>
<div class="item">
  <div class="parameter">
    Вид из окон:
  </div>
  <div class="value">
    На улицу и двор
  </div>
</div>