<div class="row gy-4"> 
  <div class="item col-6 col-md-4 col-xl-4">
    <div class="value">
      39,1 м<sup>2</sup>
    </div>
    <div class="title">
      Общая
    </div>
  </div>
  <div class="item col-6 col-md-4 col-xl-4">
    <div class="value">
      14,3 м<sup>2</sup>
    </div>
    <div class="title">
      Жилая
    </div>
  </div>
  <div class="item col-6 col-md-4 col-xl-4">
    <div class="value">
      10,9 м<sup>2</sup>
    </div>
    <div class="title">
      Кухня
    </div>
  </div>
  <div class="item col-6 col-md-4 col-xl-4">
    <div class="value">
      5 из 13
    </div>
    <div class="title">
      Этаж
    </div>
  </div>
  <div class="item col-6 col-md-4 col-xl-4">
    <div class="value">
      2019
    </div>
    <div class="title">
      Построен
    </div>
  </div>
  <div class="item col-6 col-md-4 col-xl-4">
    <div class="value">
      570
    </div>
    <div class="title">
      Просмотров
    </div>
  </div>
</div>