<div class="rating">
  <i class="fas fa-2x fa-star"></i>
  <i class="fas fa-2x fa-star"></i>
  <i class="fas fa-2x fa-star"></i>
  <i class="fas fa-2x fa-star"></i>
  <i class="far fa-2x fa-star"></i>
</div>