<div class="container-fluid">
  <div class="row">
    <div id="header" class="col-12 d-block d-md-none">
      <div class="row">
        <div class="col-12">
          //= ../main/header
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-12 col-md-1 col-lg-auto px-2">
      //= ../components/sidebar
    </div>
    <div id="filterbar" class="col pt-4 px-4 d-none d-lg-block">
      //= ../components/filter-page/filter-bar
    </div>
    <div id="filterContent" class="col-12 col-md-11 col-lg-7 col-xxl-8 position-relative">
      <div class="row p-1 p-md-3 gy-3 gy-md-4">
        <div class="nav-control col-12">
          //= ../components/filter-page/nav-content
        </div>
        <div class="offers col-12 mb-5 mb-md-4">
          //= ../components/filter-page/offers
        </div>
      </div>
      //= ../components/filter-page/filter-popups
    </div>
    //= ../components/filter-page/filter-modal
    //= ../components/modals/location
  </div>
</div> 