<div class="container-fluid">
  <div class="row">
    <div id="header" class="col-12 d-block d-md-none">
      <div class="row">
        <div class="col-12">
          //= ../main/header
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-12 col-md-1 col-lg-auto px-2">
      //= ../components/sidebar
    </div>
    <div class="col-12 col-md-11 col-xl vh-100">
      <div class="row p-1 p-md-3 justify-content-center align-items-center vh-100">
        <div class="col-3">
          <div class="login-wrapper">
            <h4 >Авторизация</h4>
            //= ../components/filters/input-password
            //= ../components/filters/input-password
          </div>
        </div>
      </div>
    </div>
    //= ../components/map/map-popups
    //= ../components/modals/location
  </div>
</div>