<div class="container-fluid">
  <div class="row">
    <div id="header" class="col-12 d-block d-md-none">
      <div class="row">
        <div class="col-12">
          //= ../main/header
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-12 col-md-1 col-lg-auto px-2">
      //= ../components/sidebar
    </div>
    <div id="content" class="col-12 col-md-11 col-xl-7">
      <div class="row p-1 p-md-3 gy-3 gy-md-4">
        <div class="nav-control col-12">
          //= ../components/main-page/nav-content
        </div>
        <div class="promo сol-12">
          //= ../components/main-page/promo
        </div>
        <div class="cards col-12">
          //= ../components/main-page/cards
        </div>
        <div class="offers col-12 mb-5 mb-md-4">
          //= ../components/main-page/offers
        </div>
      </div>
    </div>
    <div id="map" class="col d-none d-xl-block">
      //= ../components/map
    </div>
    //= ../components/map/map-popups
    //= ../components/modals/location
  </div>
</div>