<div class="container-fluid">
  <div class="row">
    <div id="header" class="col-12 d-block d-md-none">
      <div class="row">
        <div class="col-12">
          //= ../main/header
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-12 col-md-1 col-lg-auto px-2">
      //= ../components/sidebar
    </div>
    <div id="mapSidebar" class="col-12 col-md">
      //= ../components/map/sidebar
    </div>
    <div id="mapBackground" class="col">
      //= ../components/map
    </div>
    //= ../components/modals/location
  </div>
</div>