<div class="container-fluid">
  <div class="row">
    <div id="header" class="col-12 d-block d-md-none">
      <div class="row">
        <div class="col-12">
          //= ../main/header
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-12 col-md-1 col-lg-auto px-2">
      //= ../components/sidebar
    </div>
    <div class="offer-page col-12 col-md-11 col-xl col-xxl-8">
      <div class="row p-1 p-md-3 gy-3 gy-md-4">
        <div class="offer-main-data col-12 col-lg-8 pt-3">
          //= ../components/offer/main-data
        </div>
        <div class="offer-contact col-12 col-lg-4 pt-lg-3">
          //= ../components/offer/contact
        </div>
        <div class="offer-content col-12 col-lg-8">
          //= ../components/offer/content
        </div>
      </div>
    </div>
    <div id="map" class="col d-none d-xxl-block">
      //= ../components/map
    </div>
  </div>
</div>