<div class="container-fluid">
  <div class="row gx-4">
    <div id="header" class="col-12 d-block d-md-none">
      <div class="row">
        <div class="col-12">
          //= ../main/header
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-12 col-md-1 col-lg-auto px-2">
      //= ../components/sidebar
    </div>
    <div id="settingsMenu" class="col pt-4 px-4 d-none d-lg-block">
      //= ../components/settings-page/settings-menu
    </div>
    <div class="col-12 col-md-11 col-lg-8 col-xxl-9 mt-0 mt-lg-3">
      <div class="row justify-content-center p-1">
        <div id="settingsContent" class="col-12 col-xl-7">
          //= ../components/settings-page/settings-content
        </div>
        <div id="settingsDescription" class="col-12 col-xl-4">
          //= ../components/settings-page/settings-description
        </div>
      </div>
    </div>
  </div>
</div> 