<div id="mapPopup" class="d-flex d-lg-none">
  <a href="map.html" class="btn btn-green">
    <div class="d-flex align-items-center">
      <img src="img/icons/map-marker-light.svg" class="mr-2" alt="Map icon"> На карте
    </div>
  </a>
</div>
