<div id="mapPanel" class="row justify-content-center">
  <div class="main col-11 col-md-10 col-xl-9">
    <div class="main-panel row justify-content-between my-0 my-md-4 gy-3">
      <div class="col-12 col-lg">
        <div class="form-group position-relative">
          <input
            id="search"
            class="form-control input input-wrapper"
            type="text"
            name="Map search"
            placeholder="Найти на карте..."
          />
          <button
            class="btn-search"
          >
            <img src="img/icons/search.svg" alt="Search icon" />
          </button>
        </div>
      </div>
      <div class="col-auto">
        <button
          class="btn btn-wrapper"
          data-toggle="modal"
          data-target="#locationModal"
        >
          <img src="img/icons/map-marker.svg" class="mr-2" alt="Map Marker" />
          Ярославль
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-green-outline btn-wrapper-square">
          <img src="img/icons/filter.svg" alt="Filter icon" />
        </button>
      </div>
    </div>
  </div>
  <div class="filter d-none col-11 col-md-10 col-xl-9">
    <div class="filter-panel py-4 px-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-xxl-4 g-4">
        <div class="col">
          //= ../filters/selector.html
        </div>
        <div class="col">
          //= ../filters/selector.html
        </div>
        <div class="col">
          //= ../filters/range.html
        </div>
        <div class="col">
          //= ../filters/selector.html
        </div>
      </div>
      <div class="row justify-content-center justify-content-sm-start mt-3">
        <div class="col-auto">
          <button class="btn btn-green btn-rounded">
            Показать
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
