<div class="header-social-link d-flex">
  <a class="btn btn-wrapper btn-wrapper-square btn-vk mr-2">
    <i class="fab fa-vk"></i>
  </a>
  <a class="btn btn-wrapper btn-wrapper-square btn-telegram mr-2">
    <i class="fab fa-telegram-plane"></i>
  </a>
  <a class="btn btn-wrapper btn-wrapper-square btn-whatsapp">
    <i class="fab fa-whatsapp"></i>
  </a>
</div>