<div id="filterPopup" class="d-flex d-lg-none">
  <button class="btn btn-orange"
  data-toggle="modal"
  data-target="#filterMobile">
    <img src="img/icons/filter-light.svg" class="mr-2" alt="Filter icon"> Фильтр
  </button>
</div>
