<div class="nano">
  <div class="nano-content">
    <div class="row">
      <div class="mb-3">
        <h2 class="mb-4">
          Фильтры
        </h2>
        <p>
          С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития. 
        </p>
      </div>
      <div class="filterbarContent col-12">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-xl-2 gy-4">
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
        </div>
        <div class="buttons row">
          <div class="col-12">
            <button class="btn btn-green btn-rounded">
              Показать
            </button>
            <button class="btn btn-orange btn-rounded">
              Сбросить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".nano").nanoScroller({ stop: true, preventPageScrolling: true });
</script>