<div class="modal fade p-0" id="filterMobile" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog m-0">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Фильтры</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-xl-2 gy-4">
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
          <div class="col">
            //= ../filters/range.html
          </div>
          <div class="col">
            //= ../filters/selector.html
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green" data-bs-dismiss="modal">Показать</button>
        <button type="button" class="btn btn-orange">Очистить</button>
      </div>
    </div>
  </div>
</div>