<div class="offers row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3 g-4 mb-4 mb-md-0">
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
  <div class="col">
    //= ../offer/card
  </div>
</div>
