<div class="interval">
  <div class="title mb-3">
    Цена
  </div>
  <div class="d-flex align-items-center">
    <input
      id="search"
      class="form-control input input-wrapper"
      type="text"
      name="Map search"
      placeholder="от"
    />
    <div class="line"></div>
    <input
      id="search"
      class="form-control input input-wrapper"
      type="text"
      name="Map search"
      placeholder="до"
    />
  </div>
</div>