<div class="selector">
  <div class="title mb-3">
    Тип квартиры
  </div>
  <div class="dropdown">
    <button class="btn btn-outline position-relative" type="button">
      По умолчанию
      <img src="img/icons/dropdown-arrow.svg" alt="Arrow">
    </button>
    <ul class="dropdown-menu mt-3">
      <li>
        <div class="form-check form-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Квартира
          </label>
        </div>
      </li>
        <hr>
      <li>
        <div class="form-check form-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Комната
          </label>
        </div>
      </li>
      <li>
        <div class="form-check form-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Койко-место
          </label>
        </div>
      </li>
      <hr>
      <li>      
        <div class="form-check form-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Дом
          </label>
        </div>
      </li>
      <li>
        <div class="form-check form-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Часть дома
          </label>
        </div>
      </li>
      <li>
        <div class="form-check form-checkbox">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Танхаус
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
