<div class="toggle">
  <label class="toggle-control">
    <input type="checkbox">
    <span class="control"></span>
  </label>
  <span>
    Получать рассылку новостей и сообщений на почту
  </span>
</div>
