<div class="modal fade" id="locationModal">
  <div class="modal-dialog">
    <div class="modal-content d-flex flex-column align-items-center py-5">
      <img src="img/emojis/sad.png" class="mb-4" alt="Sad emoji" />
      <div class="title mb-4">
        Пока доступен только один город
      </div>
      <p class="text mb-4">
        Мы обновляем и дорабатываем систему каждый день.
      </p>
      <div>
        <a href="#" class="btn btn-green" data-dismiss="modal">Закрыть</a>
      </div>
    </div>
  </div>
</div>
