/* ROBORO */

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('..\fonts\Roboto\Robotothin.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotothin.woff') format('woff'),
    url('..\fonts\Roboto\Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal; 
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('..\fonts\Roboto\Robotothinitalic.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotothinitalic.woff') format('woff'),
    url('..\fonts\Roboto\Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('..\fonts\Roboto\Robotolight.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotolight.woff') format('woff'),
    url('..\fonts\Roboto\Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('..\fonts\Roboto\Robotolightitalic.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotolightitalic.woff') format('woff'),
    url('..\fonts\Roboto\Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('..\fonts\Roboto\Roboto.woff2') format('woff2'),
    url('..\fonts\Roboto\Roboto.woff') format('woff'),
    url('..\fonts\Roboto\Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('..\fonts\Roboto\Robotoitalic.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotoitalic.woff') format('woff'),
    url('..\fonts\Roboto\Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('..\fonts\Roboto\Robotomedium.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotomedium.woff') format('woff'),
    url('..\fonts\Roboto\Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('..\fonts\Roboto\Robotomediumitalic.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotomediumitalic.woff') format('woff'),
    url('..\fonts\Roboto\Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('..\fonts\Roboto\Robotobold.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotobold.woff') format('woff'),
    url('..\fonts\Roboto\Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('..\fonts\Roboto\Robotobolditalic.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotobolditalic.woff') format('woff'),
    url('..\fonts\Roboto\Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
    url('..\fonts\Roboto\Robotoblack.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotoblack.woff') format('woff'),
    url('..\fonts\Roboto\Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('..\fonts\Roboto\Robotoblackitalic.woff2') format('woff2'),
    url('..\fonts\Roboto\Robotoblackitalic.woff') format('woff'),
    url('..\fonts\Roboto\Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
