/* MAPPING STYLE */

/* 1. global vars */
/* 1.1 colors */
/* 1.2 values */

/* 2. elements */
/* 2.1 texts */
/* 2.2 buttons */
/* 2.3 anhors */
/* 2.4 inputs */
/* 2.5 textares */

/* 3. header */
/* 3.1 header-line */
/* 3.2 collapse-menu */

/* 4. content */
/* 5. footer */
/* 6. keyframes */
/* 7. swiper slider */
/* 8. animate */
/* 9. modals */

/* 10. media screen */
/* 10.1 media screen down */
/* 10.2 media screen up */

/* WORK AREA */

/* 1. global vars */

/* 1.1 colors */

/* 1.1.1 main color */

$green: rgb(0, 175, 115);
$green-hover: rgb(0, 160, 110);

/* 1.1.2 contrasting color color */

$orange: rgb(255, 120, 0);
$orange-hover: rgb(245, 105, 15);

/* 1.1.3 text color */

$light-text: rgb(140, 140, 140);
$light-hover-text: rgb(110, 110, 110);
$dark-blue-text: rgb(33, 70, 112);
$light-blue-text: rgb(140, 161, 184);

/* 1.1.4 outline color */

$outline: rgb(220, 220, 220);
$outline-hover: rgb(200, 200, 200);
$light-blue-outline: rgb(193, 205, 219);

/* 1.1.5 background */

$light-gray-background: rgba(0, 0, 0, 0.05);
$light-blue-background: rgb(247, 251, 255);
$contentBackground: rgb(250, 250, 250);

/* 1.2 values */

/* 1.2.1 transition */

$small-transition: 0.2s;
$medium-transition: 0.5s;
$big-transition: 1s;

/* 1.2.2 radius */

$small-radius: 3px;
$medium-radius: 6px;
$big-radius: 12px;
$full-radius: 25px;

/* 1.2.2 button */

/* 1.2.2.1 padding */

$medium-padding: 0.8rem 1.1rem;
$big-padding: 0.8rem 1.8rem;

/* 1.2.3 font */

/* 1.2.3.1 family */

$font-family: 'Roboto', 'Arial', sans-serif;

/* 1.2.3.2 size */

$font-size-standart: 1rem;
$font-size-text: 1.1rem;

/* 1.2.3.2 line-height */

$font-line-height-standart: 100%;
$font-line-height-text: 165%;
$font-line-height-input: 145%;

/* 1.2.3.2 weight */

$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;

/* 1.2.4 wrapper-elements */

$wrapper-element-size: 55px;
$wrapper-mobile-element-size: 55px;

/* 2. elements */

/* 2.1 texts */

* {
  font-family: $font-family;
  line-height: $font-line-height-standart;
}

p {
  color: $light-text;
  font-size: $font-size-text;
  line-height: $font-line-height-text;
}

/* 2.2 buttons */

/* 2.2.1 standart */

button {

  background: rgb(255, 255, 255);

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &::-moz-focus-inner {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn {
  // This option is being tested
  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  // This option is being tested
  line-height: 160%;

  padding: $medium-padding;
  border-radius: $medium-radius;
  transition: $medium-transition;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn-rounded {
  border-radius: $full-radius;
  padding: $big-padding;
}

.btn-outline {
  color: $light-text;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $light-hover-text;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-green {
  background: $green;
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(255, 255, 255);
    background: $green-hover;
  }

  &:focus {
    box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.4);
  }
}

.btn-green-outline {
  color: $green;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $green-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-orange {
  background: $orange;
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(255, 255, 255);
    background: $orange-hover;
  }

  &:focus {
    box-shadow: 0px 0px 8px rgba($color: $orange, $alpha: 0.4);
  }
}

.btn-orange-outline {
  color: $orange;
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $orange-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-black {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 1px solid $outline;

  &:hover {
    color: $green-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.btn-wrapper {
  height: $wrapper-element-size;
  min-height: $wrapper-element-size;

  padding-left: 1rem;
  padding-right: 1rem;

  border: 1px solid $outline;
  background: rgb(255, 255, 255);
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 17px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  }

  &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}

.btn-wrapper-square {
  width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  padding: 0;
}

.btn-report {
  height: auto;
  min-height: auto;
  max-height: auto;
  
  padding: 0px;
  
  background: none;
  border: none;
  
  display: flex;
  align-items: center;

  color: rgba($color: $light-text, $alpha: .5);

  transition: $medium-transition;

  &:hover {
    color: rgba($color: $light-text, $alpha: .75);
  }

  img {
    margin-right: 0.5rem;
  }
}

/* 2.2.3 button with icons */

.btn-heart {
  
  i {
    font-size: 1.5rem;
  }

  .green {
    color: $green;

    &:hover {
      color: $green-hover;
    }
  }

  .orange {
    color: $orange;

    &:hover {
      color: $orange-hover;
    }
  }
}

.btn-search {
  background: none;
  border: none;

  position: absolute;
  right: 15px;
  top: 50%;

  transform: translate(0, -50%);

  &:focus {
    border: none;
    outline: none;
  }
}

.btn-vk,
.btn-whatsapp,
.btn-telegram {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  transition: $small-transition;
}

.btn-vk {
  background: rgb(74, 118, 168);
  border: none;

  &:hover {
    color: rgb(255, 255, 255);
    background:rgb(54, 98, 148);
  }
}

.btn-telegram {
  background: rgb(66, 187, 255);
  border: none;

  &:hover {
    color: rgb(255, 255, 255);
    background: rgb(46, 167, 235);
  }
}

.btn-whatsapp {
  background: rgb(0, 215, 141);
  border: none;

  &:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 195, 121);
  }
}

/* 2.3 anhors */

a {
  text-decoration: none;
  transition: $medium-transition;
}

.a-green {
  color: $green;

  &:hover {
    color: $green-hover;
  }
}

.a-green-u {
  color: $green;
  text-decoration: underline;

  &:hover {
    color: $green-hover;
  }
}

.a-orange {
  color: $orange;

  &:hover {
    color: $orange-hover;
  }
}

.a-orange-u {
  color: $orange;
  text-decoration: underline;

  &:hover {
    color: $orange-hover;
  }
}

/* 2.4 inputs */

/* 2.4.1 standart */

.input {
  background: rgb(255, 255, 255);

  border: 1px solid $outline;
  border-radius: $medium-radius;

  color: $light-text;

  padding: $medium-padding;

  font-size: $font-size-standart;
  font-weight: $regular-weight;
  line-height: $font-line-height-input;

  &::placeholder {
    color: rgba($color: $light-text, $alpha: 0.75);
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  }

  &:focus {
    border-color: $outline-hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    color: $light-text;
    outline: none;
  }
}

/* 2.4.2 password */

.input-password {
  font-size: 1.5rem;
  letter-spacing: .15rem;

  transition: $small-transition;
  
  color: $green;

  &:focus,
  &:focus-visible {
    color: $green;
  }
}

/* 2.4.3 wrapper */

.input-wrapper {
  height: $wrapper-element-size;
  max-height: $wrapper-element-size;
}

.input-form-label {
  margin-bottom: 1rem;
  color: $light-text;
}

/* 2.4.4 selector with dropdown */

.selector {
  .dropdown {
    width: 100%;

    button {
      background: rgb(255, 255, 255);

      height: $wrapper-element-size;
      min-height: $wrapper-element-size;

      width: 100%;
      text-align: left;
      padding: 0px 10px;

      border: 1px solid $outline;
      
      color: $light-text;

      &:hover {
        box-shadow: none;
        border-color: $outline-hover;
      }
    }

    hr {
      color: $light-text;
    }

    .dropdown-menu {
      width: 100%;

      box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
      border: 1px solid $outline;

      .dropdown-item:focus, .dropdown-item:hover {
        background: none;
        outline: none;
        color: $green;
      }

      li {
        margin: 1rem 1rem;
        
        &:hover {
          background: none;
          outline: none;
        }

        .active {
          background: none;
          color: $green;
        }
      }
    }
  }

  img {
    position: absolute;
    
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
  }
}

/* 2.4.5 interval input */

.interval {
  .line {
    width: 2%;
    margin-left: 4%;
    margin-right: 4%;
    height: 2px;
    background: $outline;
  }

  input {
    width: calc((100% - (4% + 4% + 2%)) / 2);
  }
}

/* 2.4.6 checkbox */

.form-checkbox {
  label {
    line-height: 125%;
  }
}

.form-check-input {
  transition: $medium-transition;
  font-size: 1.2rem;
  margin: 0;
}

.form-check-input:hover {
  border-color: $green-hover;
}

.form-check-input:focus {
  border-color: $green;
  box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.2);
}

.form-check-input:checked {
  border-color: $green;
  background: $green;
  background-repeat: no-repeat;
} 

/* 2.4.7 toggle */

.toggle {

  $toggle-background-color-on: $orange;
  $toggle-background-color-off: $outline;
  $toggle-control-color: white;
  $toggle-width: 45px;
  $toggle-height: 25px;
  $toggle-gutter: 5px;
  $toggle-control-speed: .15s;
  $toggle-control-ease: ease-in;

  $toggle-radius: $toggle-height / 2;
  $toggle-control-size: $toggle-height - ($toggle-gutter * 2);

  display: flex;
  align-items: center;

  .toggle-control {
    height: $toggle-height;
    position: relative;
    margin-right: 1rem;
    padding-left: $toggle-width;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      pointer-events: none;
    }
  
    input:checked ~ .control {
      background-color: $toggle-background-color-on;
      
      &:after {
        left: $toggle-width - $toggle-control-size - $toggle-gutter;
      }
    }
  
    .control {
      position: absolute;
      top: 0;
      left: 0;
      height: $toggle-height;
      width: $toggle-width;
      border-radius: $toggle-radius;
      background-color: $toggle-background-color-off;
      transition: background-color $toggle-control-speed $toggle-control-ease;
  
      &:after {
        content: "";
        position: absolute;
        left: $toggle-gutter;
        top: $toggle-gutter;
        width: $toggle-control-size;
        height: $toggle-control-size;
        border-radius: $toggle-radius;
        background: $toggle-control-color;
        transition: left $toggle-control-speed $toggle-control-ease;
      }
    }
  }

}



/* 2.5 textares */

.textarea {
  background: rgb(255, 255, 255);

  border: 1px solid $outline;
  border-radius: $medium-radius;

  color: $light-text;

  padding: $medium-padding;

  font-size: $font-size-standart;
  font-weight: $regular-weight;
  line-height: $font-line-height-input;

  &::placeholder {
    color: rgba($color: $light-text, $alpha: 0.75);
  }

  &:hover {
    border-color: $outline-hover;
  }

  &:focus {
    border-color: $outline-hover;
    box-shadow: 0px 0px 8px rgba($color: $green, $alpha: 0.4);
    outline: none;
  }
}

/* 3. header */

#header {

  z-index: 60;
  padding: 0.1rem calc(var(--bs-gutter-x)/ 2);

  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.085);

  margin-bottom: 1rem;

  /* 3.1 header-line */

  .navbar {

    .logotype {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
    }

    .user {
      width: $wrapper-element-size;
      max-width: $wrapper-element-size;
      min-width: $wrapper-element-size;

      border-radius: 15px;
    }

    .navbar-nav {
      margin-top: 15px;
      padding-top: 15px;

      padding-bottom: 15px;
  
      border: 1px solid rgba($color: $outline, $alpha: 0.75);
      border-width: 1px 0px 0px 0px;

      .title {
        color: $green;

        margin: 0.85rem 0;
        font-size: $font-size-text;
      }
  
      .nav-link {
        transition: $small-transition;
        margin: 0.85rem 0;
        color: $light-text;
        font-size: $font-size-text;
  
        &:hover {
          color: $light-hover-text;
        }
      }

      .header-social-link {
        display: flex;
        flex-direction: row;

        a {
          margin-top: 0.85rem;
        }
      }
    }
  }

  #headerHambgurger {

    $bar-width: 25px;
    $bar-height: 3px;
    $bar-spacing: 8px;

    .menu-wrapper {
      width: $bar-width;
      height: $bar-height + $bar-spacing*2;
    }

    .hamburger-menu,
    .hamburger-menu:after,
    .hamburger-menu:before {
      width: $bar-width;
      height: $bar-height;
    }

    .hamburger-menu {
      position: relative;
      transform: translateY($bar-spacing);
      background: rgba(148, 158, 158, 1);
      transition: all 0ms 300ms;
      
      &.animate {
        background: rgba(255, 255, 255, 0); 
      }
    }

    .hamburger-menu:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: $bar-spacing;
      background: rgba(148, 158, 158, 1);
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .hamburger-menu:after {
      content: "";
      position: absolute;
      left: 0;
      top: $bar-spacing;
      background: rgba(148, 158, 158, 1);
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .hamburger-menu.animate:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .hamburger-menu.animate:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  /* 3.2 collapse-menu */

}

/* 4. content */

/* 4.1 standart-elements */

#sidebar {

  position: sticky;
  left: 0;
  top: 0;

  background: rgb(255, 255, 255);
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.085);

  z-index: 50;

  height: 100vh;

  padding-left: 0px;
  padding-right: 0px;

  .body {
    height: 100%;
  }

  .navbar {
    .navbar-brand {
      margin: auto;
      img {
        height: 50px;
        max-height: 50px;
        min-height: 50px;

        width: 50px;
        max-width: 50px;
        min-width: 50px;
      }
    }

    .navbar-nav {
      margin: auto;
      flex-direction: column;

      .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;

        height: $wrapper-element-size;
        max-height: $wrapper-element-size;
        min-height: $wrapper-element-size;

        width: $wrapper-element-size;
        max-width: $wrapper-element-size;
        min-width: $wrapper-element-size;

        border-radius: $big-radius;
        transition: $medium-radius;
    
        &:hover {
          background: rgba($color: $green, $alpha: .1);
        }
      }

      .active {
        background: rgba($color: $green, $alpha: .1);
      }

      .nav-item-gray {
        .nav-link {
          &:hover {
            background: $light-gray-background;
          }
        }
  
        .active {
          background: $light-gray-background;
        }
      }
    }
  }

  .nav-user {
    margin: auto;

    .nav-user-img {
      img {
        height: $wrapper-element-size;
        max-height: $wrapper-element-size;
        min-height: $wrapper-element-size;

        width: $wrapper-element-size;
        max-width: $wrapper-element-size;
        min-width: $wrapper-element-size;

        border-radius: 20px;
      }
    }
  }
}

/* 4.2.3 offers */

/* 4.2.3.1 cards */

.offers {
  .card {
    border-radius: $medium-radius;
    transition: $medium-transition;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .title {
      a {
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        line-height: 150%;
        font-weight: $medium-weight;
      }
    }

    .text {
      color: $light-text;
      font-size: $font-size-standart;
      line-height: 150%;
    }

    .value {
      font-size: 1.25rem;
      font-weight: $medium-weight;
    }

    .good-status {
      padding: 0.5rem;
      background: #fff5ce;
      color: #796129;
      border-radius: 3px;
      top: 15px;
      right: 15px;
      z-index: 500;
    }
  }
}

/* 4.2.3.2 page */

.offer-page {
  .offer-content,
  .offer-main-data {
    .info {
      display: flex;
      flex-direction: column;

      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      .title {
        margin-bottom: 0.5rem;
      }

      .address {
        color: $light-text;
        line-height: $font-line-height-text;
      }
    }

    .cash-values {
      margin-bottom: 0.5rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      .value {
        font-weight: $medium-weight;
        font-size: 1.75rem;

        margin-bottom: 0.25rem;
      }

      .description {
       color: $light-text;
      }

      .price {
        .value {
          color: $green;

          font-size: 2.35rem;
          font-weight: $medium-weight;
        }
      }
    }

    .description {
      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;

        margin-bottom: 1rem;
      }
    }

    .offer-values {
      margin-bottom: 2rem;
      padding: 1rem;

      background: rgba($color: $light-gray-background, $alpha: .03);

      border: 1px solid $outline;
      border-radius: $medium-radius;

      .group {
        width: 100%;
      }

      .item {
        text-align: center;

        .value {
          font-size: 1.5rem;
          font-weight: $medium-weight;

          margin-bottom: 0.5rem;

          color: $green;
        }

        .title {
          color: $light-text;
        }
      }
    }

    .comfort-values {

      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;

        margin-bottom: 1rem;
      }

      .item {
        display: flex;
        align-items: center;

        border: 1px solid $outline;
        border-radius: $big-radius;

        background: rgb(255, 255, 255);
        color: $light-text;

        padding: 1rem 1.25rem;

        margin-right: 1rem;
        margin-bottom: 1rem;

        img {
          margin-right: 0.75rem;
        }
      }
    }

    .house-data,
    .offer-data {

      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;

        margin-bottom: 1.5rem;
      }

      .item {
        display: flex;
        
        margin-bottom: 1rem;

        .parameter {
          width: 50%;
          color: $light-text;
        }

        .value {
          width: 50%;
        }
      }
    }

    .region {
      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;

        margin-bottom: 1.5rem;
      }

      .rating {

        margin-bottom: 1rem;

        .fa-star {
          margin-right: 0.25rem;
          color: #EEBA00;
        }
      }
    }

    .feedbacks {
      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;

        margin-bottom: 1.5rem;
      }

      .positive,
      .negative {
        margin-bottom: 1rem;
        
        img {
          margin-right: 1rem;
        }
      }
    }
  }

  .offer-contact {

    position: sticky;
    top: 0;

    .contact-wrapper {
      background: rgb(255, 255, 255);
  
      border: 1px solid $outline;
      border-radius: $small-radius;

      .actions {
        .actions-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          padding: 1.5rem 0rem;
  
          background: $light-gray-background;
          border: 1px solid $outline;
          border-width: 1px 0px 0px 0px;
        }
      }
    }

    .author {

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 2rem;

      img {
        margin-bottom: 2rem;
      }

      .name {
        font-size: 1.3rem;
        font-weight: $medium-weight;
        text-align: center;
      }
  
      .description {
        text-align: center;
        color: $light-text;
      }
  
      .number {
        background: rgba($color: $green, $alpha: 0.1);
        color: $green;
  
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        text-align: center;
  
        border: 1px solid rgba($color: $green, $alpha: 0.15);
        border-radius: $small-radius;
        
        padding: 0.75rem;
      }
    }


    .attention {
      background: rgba($color: $orange, $alpha: .1);

      display: flex;
      align-items: center;

      padding: 1rem;

      border: 1px solid rgba($color: $orange, $alpha: .25);
      border-radius: $small-radius;

      img {
        margin-right: 1rem;
        height: 20px;
        min-height: 20px;
        max-height: 20px;

        width: 20px;
        min-width: 20px;
        max-width: 20px;
      }

      .text {
        line-height: $font-line-height-text;
        color: $orange;
      }
    }
  }
}

/* 4.2 main-page */

#content {

  /* 4.2.1 promo */

  .promo {

    .promo-body {
      background: url('../img/promo/background.png');
      background-repeat: no-repeat no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
    
      padding: 2.75rem 2rem;
    
      .title {
        font-weight: $medium-weight;
        font-size: 27px;
        line-height: 35px;
        color: #12263d;
      }
    
      .description {
        line-height: 24px;
        color: rgba(33, 70, 112, 0.65);
        max-width: 400px;
      }
    }
  }

  /* 4.2.2 cards */

  .cards {
    .card {
      border-radius: $medium-radius;
      border-color: $outline;

      transition: $medium-transition;

      padding: 1.7rem 1.2rem;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      }

      .card-body {
        position: relative;
        padding: 0;

        .title {
          margin-bottom: 1.8rem;
          
          a {
            font-size: 1.4rem;
            font-weight: $regular-weight;
            color: rgb(0, 0, 0);
          }
        }

        .text {
          color: $light-text;
          font-size: $font-size-standart;
          margin-bottom: 0.5rem;
          max-width: 200px;
        }
        
        .value {
          color: rgb(0, 0, 0);
          font-weight: $medium-weight;
          font-size: 1.25rem;
        }

        .arrow {
          top: 5px;
          right: 10px;
        }
      }
    }

    .card-green {
      background: $green;
      border: none; 

      &:hover {
        background: $green-hover;
      }

      .card-body {
        .title {
          a {
            color: rgb(255, 255, 255);
          }
        }

        .text {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

/* 4.3 map */ 

#map {
  position: sticky;
  top: 0px;
  right: 0px;

  padding: 0px;
  height: 100vh;

  .map-container {
    width: 100%;
    height: auto;
  }
}

#mapSidebar {
  z-index: 45;
}

#mapBackground {
  position: fixed;

  padding: 0px;
  height: 100vh;

  .map-container {
    width: 100%;
    height: 100%;
  }
}

#mapPanel {
  .filter-panel {
    border: 1px solid $outline;
    border-radius: $medium-radius;

    background: rgb(255, 255, 255);
  }
}

#mapPopup {
  width: auto;
  margin: auto;

  position: fixed;
  bottom: 2rem;

  left: 50%;
  transform: translate(-25%, 0); 

  z-index: 40;

  .btn {
    display: flex;
  }

  img {
    max-width: 18px;
    max-height: 18px;
  }
}

/* 4.4 filter */ 

#filterbar {
  position: sticky;
  height: 100vh;

  top: 0;

  z-index: 45;

  background: rgb(255, 255, 255);
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.085);

  .filterbarContent {
    padding-bottom: 7rem;

    .buttons {
      position: fixed;

      background: radial-gradient(rgba(255, 255, 255, 1.0) 50%, rgba(255, 255, 255, 0.0) 100%);

      padding-top: 25px;
      padding-bottom: 25px;
      bottom: 0px;
    }
  }
}

#filterPopup {
  width: auto;
  margin: auto;

  position: fixed;
  bottom: 2rem;

  left: 50%;
  transform: translate(-25%, 0); 

  z-index: 40;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 18px;
    max-height: 18px;
  }
}

#filterMobile {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
    }
  }
}

/* 4.5 settings */ 

#settingsMenu {
  position: sticky;
  height: 100vh;

  top: 0;

  z-index: 45;

  background: rgb(255, 255, 255);
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.085);

  .nav {
    .nav-item {
      .nav-link {
        padding: 1.25rem 0;

        color: $light-text;

        &:hover {
          color: $light-hover-text;
        }

        img {
          margin-right: 1rem;
        }
      }
    }
  }
}

#settingsDescription {
  .box {
    background: $light-blue-background;

    border: 1px solid $light-blue-outline;
    border-radius: $medium-radius;

    color: $dark-blue-text;
    font-size: $font-size-standart;
    
    .text {
      line-height: $font-line-height-text;
    }

    .item {

      margin: 1rem 0;

      .title {
        color: $light-blue-text;
      }
    }
  }
}

#settingsContent {
  .account-image {

    background: $light-gray-background;

    border: 1px solid $outline;
    border-radius: $medium-radius;

    padding: 1.5rem;

    img {
      height: 110px;
      max-height: 110px;
      min-height: 110px;
      
      width: 110px;
      max-width: 110px;
      min-width: 110px;
      
      border-radius: 100%;

      margin-right: 2rem;
    }

    .actions {
      margin-bottom: 1rem;
    }

    .description {
      color: $light-text;
      line-height: $font-line-height-text;
    }
  }

  .notification {
    .notification-status {
      border: 1px solid $outline;
      border-radius: $medium-radius;
      padding: 2rem;

      span {
        color: $light-text;
        line-height: $font-line-height-text;
      }
    }
  }

  .type-account {
    .cards {
      .card {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0.75rem 1.25rem;
        
        text-align: left;

        border-color: $green; 
        
        transition: $medium-transition;

        img {
          height: 55px;
          max-height: 55px;
          min-height: 55px;
          
          width: 55px;
          max-width: 55px;
          min-width: 55px;
        }

        &:hover {
          background: rgba($color: $green, $alpha: 0.05);
        }
      }
    }
  }

  .donate {
    .cards {
      .card {
        border: 1px solid $outline;
        border-radius: $medium-radius;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1.5rem;

        img {
          height: 65px;
          max-height: 65px;
          min-height: 65px;
          
          width: 65px;
          max-width: 65px;
          min-width: 65px;

          margin-bottom: 1rem;
        }

        .title {
          font-weight: $medium-weight;
          font-size: 1.2rem;
          margin-bottom: 0.3rem;
        }

        .value {
          color: $light-text;
        }

        &:hover {
          background: rgba($color: $green, $alpha: 0.05);
        }
      }
    }
  }
}

/* 4.6 offer-page */ 


/* 5. footer */
/* 6. keyframes */

@keyframes bounce {
  50% {
      transform: scale(1.2);
  }
  75% {
      transform: scale(.9);
  }
  100% {
      transform: scale(1);
  }
}

/* 7. swiper slider */

.offers {
  .swiper-container {
    background: #f0f0f0;
    border-radius: $medium-radius $medium-radius 0 0;
    height: 230px;

    .swiper-pagination-bullet {
      opacity: 1;
      background: rgb(255, 255, 255);
    }
    
    .swiper-pagination-bullet-active {
      background: $green;
      opacity: 1;
    }

    img {
      height: 230px;
      max-height: 230px;
      min-height: 230px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.offer-page {
  .swiper-container {

    background: #f0f0f0;
    height: 450px;

    .swiper-pagination-bullet {
      opacity: 1;
      background: rgb(255, 255, 255);
    }
    
    .swiper-pagination-bullet-active {
      background: $green;
      opacity: 1;
    }

    img {
      height: 450px;
      max-height: 450px;
      min-height: 450px;
      object-fit: cover;
      object-position: center;
    }
  }
}

/* 8. animate */
/* 9. modals */

#locationModal {
  .title {
    text-align: center;
    font-weight: $medium-weight;
    font-size: 1.5rem;
    max-width: 230px;
  }

  .text {
    text-align: center;
    max-width: 290px;
  }
}

/* 10. media screen */

/* 10.1 media screen down */

@include media-breakpoint-down(xxl) { }
@include media-breakpoint-down(xl) { 
  #settingsDescription {
    margin-bottom: 3rem;
  }
}

@include media-breakpoint-down(lg) {
  #content {
    .promo {
      .promo-body {
        position: relative;
    
        &::after {
          content: '';
          display: block;
    
          width: 100%;
          height: 100%;
    
          position: absolute;
    
          left: 0;
          top: 0;

          background: rgba($color: #DDECFD, $alpha: 0.85);
        }

        .title,
        .description,
        .btn {
          position: relative;
          z-index: 40;
        }
      }
    }
  }

  #settingsDescription {
    margin-bottom: 7rem;
  }

  .offer-page {

    .swiper-container {
      background: #f0f0f0;
      height: 400px;
    }

    .offer-contact  {
      position: static;

      .contact-wrapper {
        .author {
          flex-direction: row;
          justify-content: center;
          padding: 1rem;
  
          img {
            margin-bottom: 0;
            margin-right: 1.5rem;
          }
        }
        
        .actions {
          .actions-wrapper {
            height: 100%;
            flex-direction: row;
            justify-content: space-around;
          }
        }
      }
    }

    .offer-content {
      margin-top: 0.5rem;
      margin-bottom: 1rem;

      .info {
        margin: 1.5rem;
      }
    }

    .offer-main-data {
      .info {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #sidebar {
    height: auto;
    width: 100%;

    position: fixed;
    bottom: 0;
    top: inherit;

    .navbar {
      width: 100%;

      .user {
        width: $wrapper-mobile-element-size;
        max-width: $wrapper-mobile-element-size;
        min-width: $wrapper-mobile-element-size;
      }

      .navbar-nav {
        .nav-link {
          height: $wrapper-mobile-element-size;
          max-height: $wrapper-mobile-element-size;
          min-height: $wrapper-mobile-element-size;
  
          width: $wrapper-mobile-element-size;
          max-width: $wrapper-mobile-element-size;
          min-width: $wrapper-mobile-element-size;
        }
      }

      .navbar-body {
        width: 100%;

        .navbar-nav {
          width: 100%;
          justify-content: space-around;
        }
      }
    }

    .nav-user {
      .nav-user-img {
        img {
          height: $wrapper-mobile-element-size;
          max-height: $wrapper-mobile-element-size;
          min-height: $wrapper-mobile-element-size;
  
          width: $wrapper-mobile-element-size;
          max-width: $wrapper-mobile-element-size;
          min-width: $wrapper-mobile-element-size;
        }
      }
    }
  }

  #header {
    position: sticky;
    top: 0;

    .navbar {
      .logotype {
        width: 110px;
      }
  
      .user {
        width: 50px;
      }
    }
  }

  #content,
  #filterContent {
    margin-bottom: 5rem;
  }

  #mapPanel {
    .filter {
      margin-top: 1rem;
      margin-bottom: 70vh;
    }
  }

  #mapPopup,
  #filterPopup {
    bottom: 5.5rem;
    transform: translate(-50%, 0);
  }

  .btn {
    height: $wrapper-mobile-element-size;
    min-height: $wrapper-mobile-element-size;
  }

  .btn-wrapper {
    height: $wrapper-mobile-element-size;
    min-height: $wrapper-mobile-element-size;
  }
  
  .btn-wrapper-square {
    width: $wrapper-mobile-element-size;
    min-width: $wrapper-mobile-element-size;
  
    padding: 0;
  }

  .input-wrapper {
    height: $wrapper-mobile-element-size;
    max-height: $wrapper-mobile-element-size;
  }

  .selector {
    .dropdown {
      button {
        height: $wrapper-mobile-element-size;
        min-height: $wrapper-mobile-element-size;
      }
    }
  }

  .offer-page {
    .offer-content {
      margin-bottom: 5.5rem;

      .comfort-values {
        .item {
          border-radius: $medium-radius;
          padding: 1rem 0.5rem;
          margin-right: 0.5rem;
          margin-bottom: 0.75rem;
        }
      }
    }

    .offer-contact  {
      .contact-wrapper {
        .author {
          flex-direction: column;

          img {
            margin-right: 0;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .offer-page {
    .offer-content,
    .offer-main-data {
      .cash-values {
        flex-direction: column;
        align-items: start;
      }
    }

    .offer-contact  {
      .contact-wrapper {
        .actions {
          .actions-wrapper {
            flex-direction: column;
          }
        }
      }
    }

    .swiper-container {
      height: 300px;

      img {
        min-height: 300px;
        max-height: 300px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

/* 10.2 media screen up */

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}

/* Working notes */

/*
* 
* Working with z-index:
* * Main range: 0 - 100
* * Sidebar is the middle of the range: 50
*
*/

