<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img
        class="logotype"
        src="img/logotype/logotype-mobile.svg"
        alt="Logotype"
      />
    </a>
    <div class="d-flex align-items-center">
      <a href="#">
        <img class="user mr-2" src="img/sidebar/user.png" alt="User photo" />
      </a>
      <div
        id="headerHambgurger"
        class="pl-3 pt-3 pb-3"
        data-toggle="collapse"
        data-target="#navHeaderMenu"
      >
        <div class="menu-wrapper">
          <div class="hamburger-menu"></div>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navHeaderMenu">
      <div class="navbar-nav">
        <div class="title">Навигация</div>
        <a class="nav-link" href="#">О сервисе</a>
        <a class="nav-link" href="#">Тип аккаунта</a>
        <a class="nav-link" href="#">Частые вопросы</a>
        <a class="nav-link" href="#">Поддержать проект</a>
        <div class="title">Наши социальные сети</div>
        //= ../components/contacts/social
      </div>
    </div>
  </div>
</nav>
